.chat_side
  .chat_side_user
    .chat_side_user_content
      .chat_side_user_name
        = current_user.name
      %ul.chat_side_btn
        %li.list
          = link_to new_group_path do
            = fa_icon 'pencil-square-o', class: 'icon'
        %li.list
          = link_to edit_user_path(current_user) do
            = fa_icon 'cog', class: 'icon'
  .chat_side_groups
    - current_user.groups.each do |group|
      .chat_side_groups_list
        = link_to group_messages_path(group) do
          .chat_side_group_name
            = group.name
          .chat_side_group_message
            = group.show_last_message

.chat_main
  .chat_main_header
    .chat_main_header_group_clearfix
      .chat_main_header_group_name
        = @group.name
      %a.chat_main_header_group_edit_btn{:href => "edit"}
        Edit
      .chat_main_header_members
        MEMBER:
        %i
        = @group.group_users.name



  .chat_main_body
    = render @messages

  .chat_main_footer
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        .form__btn
          = f.submit 'Send', class: 'form__submit'


